/* Lane styles */
.Lane {
    background: #f5f6fa;
    color: #2f3640;
    margin: 0 20px;
    width: 350px;
    margin-top: 20px;
  }
  .Lane ul {
    overflow-y: scroll;
    max-height: calc(100vh - 300px);
  }
  .LaneHeader button {
    background-color: #fff0;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 15px 40px 0;
    cursor: pointer;
  }
  
  .LaneDelete {
    text-align: right;
    color: #2f3640;
  }
  .LaneDelete i{
    color: #2f3640;
  }
  
  .LaneName {
    font-size: 1.5em;
    text-align: center;
    line-height: 20px;
  }
  
  .LaneName span {
    padding: 5px;
    
  }
  
  .LaneAddNote {
    margin: 10px auto;
    margin-left: 20px;
    cursor: pointer;
    display: inline-block;
  }
  .LaneAddNote:hover {
    color: #fff0;
  }
  .AddNote {
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: #2f3640;
  }
  .AddNote button {
    color: #2f3640;
  }
  
  .AddNote i {
    margin-left: 10px;
    color: #2f3640;
  }
  /* Lanes styles */
  
  .Lanes {
    display: flex;
    align-items: flex-start;
    
  }
  
  .LanesWrapper {
    display: grid;
    overflow-y: hidden;
    overflow-x: scroll;
    height: calc(100vh - 75px);
  }
  
  .LaneEdit {
    background-color: #dcdde1;
    color: #2f3640;
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    width: 160px;
    font-weight: 300;
    outline: none;
    text-align: center;
  }