.KanbanHeader {
    padding: 0 30px;
    text-align: center;
    height: 75px;
    background: #353b48;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .KanbanHeader h1 {
   flex: 4;
  }
  
  .AddLane {
    text-transform: uppercase;
    padding: 10px 30px;
    background-color: #c23616;
    color: #f5f6fa;
    border: none;
    border-radius: 5px;
    flex: 1;
  }
  
  .AddLane i {
    margin-left: 10px;
  }